body{
    background-color: #A0D995;
}

#header{
    font-family: 'Permanent Marker', cursive;
    color: #F6E3C5 ;
    background-color: #4CACBC;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
